# Componentes principales
streamlit==1.31.0
pinecone-client==3.0.1

# LangChain y sus dependencias
langchain-core==0.1.4
langchain-community==0.0.17
langchain-openai==0.0.3
openai==1.11.1

# Procesamiento de texto y audio
gTTS==2.5.0
tiktoken==0.5.2

# Dependencias adicionales necesarias
python-dotenv==1.0.0
typing-extensions==4.12.2
typing-inspect==0.9.0
pydantic==2.5.2
